.title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: red;
}

.maincontainer{
  display: flex;
}

.myImg{
  padding-left: 30px;
}
.signat{
  font-weight: bold;
}
.lang{
  padding: 10px;
} 